.sectionCallToAction{
    height: 500px;
    background-color: rgb(24, 24, 24);
    display: flex;
}

.sectionCallToAction .row{
    justify-content: center;
    align-items: center;
}

.sectionCallToAction svg{
    height: 120px;
    width: 120px;
    color: white;
}

.sectionCallToAction h2{
    font-size: 2rem;
}

.sectionCallToAction h3{
    font-size: 1rem;
}

@media (max-width:900px){
    .sectionCallToAction svg{
        display: none;
    }

    .sectionCallToAction{
        text-align: center;
    }
}